body {
  font-family: "Play", sans-serif;
  font-weight: 400;
}

.header__burger {
  width: 48px;
  height: 48px;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
}

.header__close {
  width: 48px;
  height: 48px;
  background-image: url("../images/navx.svg");
  background-repeat: no-repeat;
}

.nav__link {
  font-size: 18px;
  line-height: 18px;
  color: #001c1c;
}

.header__bottom {
  border-bottom: 1px dashed #bedada;
}

.header__link {
  position: relative;
  transition: 0.5s ease-in-out;
}

.header__link:hover {
  background-color: #ff2e4c;
}

.header-hidden {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #f2f2f2;
  width: 250px;
  z-index: 100;
  transform: translateX(-100%);
  transition: ease-in-out 0.5s;
}

.header-hidden.shownav {
  transform: translateX(0);
}

.overlay.shownav {
  transform: translateX(0%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 50;
  transform: translateX(-100%);
  transition: ease-in-out 0.4s;
}

/* Hero start */

.hero__avatr {
  border: 1px solid #607282;
}

.hero-wrapper img {
  border-top: 1px solid #607282;
  border-left: 1px solid #607282;
  border-right: 1px solid #607282;
}

.hero__info {
  border-left: 1px dashed #607282;
  border-right: 1px dashed #607282;
  border-bottom: 1px dashed #607282;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hero__data {
  top: 8px;
  left: 8px;
}

.hero__subtitle {
  font-size: 40px;
  line-height: 44px;
  color: #023131;
}

.hero__card {
  max-width: 768px;
  width: 100%;
}

.hero__carousel-card {
  max-width: 768px;
  width: 100%;
  margin-top: 60px;
}

.hero__title {
  font-size: 40px;
  line-height: 40px;
  color: #248888;
}

.hero__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
}

.hero__desc:hover {
  cursor: pointer;
  color: #248888;
}

.hero__incor {
  transition: 0.5s ease-in-out;
}

.hero__incor:hover {
  cursor: pointer;
  color: #ff2e4c;
}

.hero__carousel-item {
  background-color: #fff;
}

.hero__txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero__link {
  transition: 0.5s ease-in-out;
}

.hero__link:hover {
  color: #ff2e4c;
}

.hero__more {
  position: relative;
}

.hero__more::after {
  position: absolute;
  top: 34%;
  right: -8px;
  background-image: url("../images/Ellips.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f0f6f6;
  content: "";
}

.hero__item:nth-child(1)::after {
  position: absolute;
  top: 35px;
  left: 42px;
  background-image: url("../images/EllipsRed.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  content: "";
}

.swiper-pagination-bullet-active {
  background: #607282;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 20px;
}

.swiper-button-next {
  display: none;
}

/* Hero end */

/* Faq start */

.faq__det {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.faq__sum::after {
  position: absolute;
  top: 15px;
  right: -15px;
  width: 24px;
  height: 24px;
  background-image: url("../images/plus.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  content: "";
}

.faq__sum:hover {
  font-weight: bold;
  color: #023131;
}

.faq__sum:hover::after {
  background-image: url("../images/redFaq.svg");
}

.faq__det[open] .faq__sum::after {
  background-image: url("../images/navx.svg");
}

.faq__line {
  border: 1px solid #bedada;
}

/* Faq end */

/* Media start */

/* Header */

@media (min-width: 1024px) {
  .header-hidden {
    width: 1300px;
    position: static;
    transform: translateX(0%);
    background-color: transparent;
  }

  .overlay {
    display: none;
  }

  .header__link::after {
    position: absolute;
    top: 33%;
    right: -8px;
    background-image: url("../images/Ellips.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
  }

  .header__link:hover::after {
    top: 11%;
    right: -25px;
    width: 40px;
    height: 40px;
    background-image: url("../images/headerhover.svg");
    transition: 0.3s ease-in-out;
  }

  .active {
    position: relative;
  }

  .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 24px;
    height: 24px;
    background-image: url("../images/burgernav.svg");
    background-repeat: no-repeat;
  }
}

/* Hero */

@media (min-width: 390px) {
  .hero-wrapper {
    max-width: 250px;
    width: 100%;
  }
}

@media (min-width: 620px) {
  .hero-wrapper {
    max-width: 300px;
    width: 100%;
  }

  .hero-wrapper img {
    max-width: 300px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hero__card {
    max-width: 1024px;
    width: 100%;
  }

  .hero__carousel-card {
    max-width: 1024px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .hero__card {
    max-width: 290px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .hero__carousel-card {
    position: relative;
    max-width: 970px;
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .hero__carousel-card::before {
    position: absolute;
    top: 22%;
    left: -16px;
    width: 32px;
    height: 32px;
    background-image: url("../images/Arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 50%;
    content: "";
  }

  .hero__title {
    font-size: 44px;
  }

  .hero__desc {
    font-size: 18px;
    line-height: 23px;
  }

  .swiper-button-next {
    width: 50px;
    height: 50px;
    display: flex;
  }

  .swiper-button-next::after {
    position: relative;
    right: calc(50% - 30px);
    top: calc(50% - 50px);
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #607282;
    content: url("../images/arrow-right.svg");
  }
}

/* Faq start */

@media (min-width: 1024px) {
  .faq__sum::after {
    width: 32px;
    height: 32px;
    background-size: 32px;
    top: 5px;
    right: 0;
  }
}

/* Faq end */
